/* general seeting */
:root {
  --main-color: #cf1e1e;
  --section: #f1f3f4;
  --final-sec: #11151d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@font-face {
  font-family: nsa;
  src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: nsa-v;
  src: url(../fonts/NotoSansArabic-VariableFont_wdth\,wght.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: nsa;
}

textarea {
  width: 100%;
  height: 100px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  text-decoration-line: none;
  color: inherit;
}

li {
  list-style: none;
}

a:hover {
  color: var(--main-color);
  text-decoration: none;

}

.mark-title {
  border: 1.5px solid rgba(0, 0, 0, 0.918);
  margin-left: 10px;
}
.mark-title-spec {
  border: 1.5px solid #cf1e1e;
  margin-left: 10px;

}

.title-sec{
  font-family: nsa-v;
  font-size: 23.94px;
  font-weight: bold;
  display: inline-block;
  color: var(--main-color);
}

.category-title{
  font-family: nsa;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
  display: inline-block;
}
.category-desc{
  font-size: 18px;
  font-weight: normal;
  color: #222222;
  
}

.main-btn {
  background-color: var(--main-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: .7s;
  border-radius: 50px !important;
}

.main-btn:hover {
  background-color: #fffcfc !important;
  color: #f13b2a !important;
  transition: 1s !important;

}
.bg-black-sec {
  background-image: linear-gradient(rgb(5, 5, 5), rgb(56, 56, 53));
}

.top-left {
  position: absolute;
  top: 5%;
  left: 8%;
}
.top-right {
  position: absolute;
  top: 5%;
  right: 5%;
}
.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 8%;
}


/* start header */
header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.navbar-nav a{
  font-size: 20px;
  font-weight: bold !important;
}
nav .logo {
  max-width: 8%;
}

nav .logo-text {
  margin-right: 35px;
  /* font-family: 'Harmattan', sans-serif; */
  font-family: nsa;
  font-size: 18px;
  font-weight: 500;
}

nav li,
.links li {
  margin-right: 15px;

}

header a {
  /* font-family: nsa; */
  font-size: 16px !important;
  font-weight: 400;
  margin-top: 5px;
}


.links li {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 5px;

}

.links li .twitter:hover {
  color: rgb(233, 191, 231) !important;
  transition: .5s;
}

.links li .facebook:hover {
  color: rgb(190, 66, 184) !important;
  transition: .5s;
}

.links li .youtube:hover {
  color: rgb(199, 54, 35) !important;
  transition: .5s;
}

@media (max-width:768px) {
  .nav-links {
    display: flex;
    justify-content: start;
  }
}
.nav-item a:hover{
  color: var(--main-color) !important; 
  transition: .5s !important;
}

header.sticky {
  background: var(--final-sec);
}

header.sticky a {

  color: #fff !important;
}

header.sticky a.active {
  font-size: 20px;
  font-weight: bold !important;
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}




/* scrol to top up */
.to-top {
  background: var(--main-color);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
  cursor: pointer;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  color: white;
}

/* main page */

/* 4 columns */
.container-4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  padding: 5px 0%;
}

@media (max-width:1200px) {
  .container-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width:1100px) {
  .container-4-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:991px) {
  .container-4-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  .container-4-columns {
    grid-template-columns: 1fr;
  }
}

@media (max-width:768px) {
  .template-four .img {
    width: fit-content;

  }
}

/* video library */
.container-3-video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  padding: 5px ;
}

@media (max-width:1200px) {
  .container-3-video {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px %;
  }
}

@media (max-width:1100px) {
  .container-3-video {
    grid-template-columns: 1fr 1fr;
    padding: 5px %;

  }
}

@media (max-width:768px) {
  .container-3-video {
    grid-template-columns: 1fr;
    padding: 5px %;

  }
}

.play-vid{
  font-size: 35px;
  color: #fff;
}

/*start index page */
.news-ticker {
  display: grid;
  grid-template-columns: 10fr .5fr;
  gap: 10px;
  align-items: flex-start;
  padding: 0 5px ;
}

.news-ticker .s1 {
  font-size: 18px;
  font-weight: bold;
  width: 12%;
  color: var(--main-color);
}
.news-ticker .slide{
  width: 88%;
}
@media (max-width:991px) {
  .news-ticker {
    grid-template-columns: 9fr 1.5;
    
  }
  .tran{
    padding: 0;
    margin: 0 !important;
  }
}

.text-ticker{
  color: #2d2d2d;
  font-size: 16px;
}

.carousel-item p {
  margin-top: 12px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.news-ticker {
  background-color: #e9ecef;
}

.navbar.active::hover {}

.template-main .time {
  color: #ebf2f3c2;
  font-size: 14px;
}
/* .template-one{
  overflow: hidden;
} */
main {
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-align: center;
}

.advertise-space {
  font-size: 16px;
  font-weight: bold;
}

.two-main-news .label,
.template-sub .label {
  padding: 3px 15px;
  background-color: var(--main-color);
  color: rgba(255, 255, 255, 0.897);
  display: inline-block;

}

.template-two .bottom-right {
  position: absolute;
  bottom: 5%;
  right: 15%;
  width: 70%;
}

.text-album h6 {
  width: 50%;
  color: #e2dfdf;
  font-family: nsa-v;
  line-height: 28px;

}

.fa-image {
  font-size: 25px;
}

  .scc2{
    margin-top: 50px !important;
  }

  
.gallery-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
}

@media (max-width:991px) {
  .gallery-section {
    grid-template-columns: 1fr;
  }
}
@media (max-width:1100px) {
  .gallery-section .gallery {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   } 
  }
  
  @media (max-width:991px) {
    .gallery-section .gallery {
     order: 1;
     }
 
 }

 @media (max-width:768px) {
  .gallery-section {
    grid-template-columns: 1fr;
    
  }
}
/* detail-news */
.ntetwork-title .title {
  font-weight: bold;
}

.full-desc p {
  text-align: justify;
  line-height: 2;
  color: #5f6266;
}

.hash-tag span {
  border: 2px solid rgba(141, 135, 135, 0.322);
  border-radius: 50px;
  padding: 10px 35px;

}

.social-links ul .twitter {
  background-color: rgb(233, 191, 231);
}

.social-links ul .facebook {
  background-color: rgb(190, 66, 184);
}

.social-links ul .messanger {
  background-color: rgb(175, 145, 192);
}

.comments{
  font-weight: bold;
}
.comments-number{
  font-weight: normal !important;
} 


/* gallary page(معرض الصور)*/
.lg-outer .lg-thumb-outer {
  margin-top: 50px;
  background-color: white;
}
.cont {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.cont-main {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 7% 0%;
}

.gallery {
  display: grid;
  grid-gap: 3px;

}

.gallery img {
  width: 100%;

}

@media (min-width: 0) and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 0px) and (max-width: 1100px) {
  .album-image {
    flex-wrap: wrap;
    overflow: auto;
    min-width: 100%;
    margin-right: auto;
  }

  .cont-main {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 20% 0%;
  }
}

/* album-image page*/
.img-num {
  border: 1.5px solid rgba(0, 0, 0, 0.918);
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #c70f0f;
  color: white;
  display: inline-block;

}


/* Start Video Playlis page*/
.vedio-sec .box {
  border: 1.5px solid rgba(71, 66, 66, 0.918);
}

.cont-vid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 15%;
}

.cont-vid .main-video {
  border-radius: 5px;
  padding: 10px;

}

.cont-vid .main-video video {
  width: 100%;
  border-radius: 5px;
}

.cont-vid .main-video video .title {
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cont-vid .video-list {
  color: #fff;
  font-size: 23px;
  border-radius: 5px;
  height: 450px;
  margin-top: 80px;
  overflow-y: scroll;

}

.cont-vid .video-list::-webkit-scrollbar {
  width: 7px;
}

.cont-vid .video-list::-webkit-scrollbar-track {
  background: #333;
  border-radius: 50px;
}

.cont-vid .video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.cont-vid .video-list .vid video {
  width: 100px;
  border-radius: 5px;
}

.cont-vid .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  /* background-color: #f7f7f7; */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.cont-vid .video-list .vid.active {
  background: #0c0c0c;
}

@media (max-width:1200px) {
  .cont-vid {
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
  }
}

@media (max-width:891px) {
  .cont-vid {
    grid-template-columns: 1fr;
  }
}

/* end Video Playlis */


/*start contact page */
.form-control {
  height: 52px;
  width: 47%;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 50px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.connect-title {
  background: var(--section);
}

/*end contact page */


/* start footer */
footer {
  background-color: var(--final-sec);
}
/* 3 footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  /* padding: 5px 0%; */
  padding-right: 8%;
}

@media (max-width:1200px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
}
@media (max-width:1500px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 10%;

  }
}

@media (max-width:991px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    padding-right: 10%;

  }
}

@media (max-width:768px) {
  .footer {
    grid-template-columns: 1fr;    
  }
}


/* deneral media-quiry */

/* 3 columns */
.container-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  padding: 5px 0;
}

@media (max-width:1200px) {
  .container-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width:1100px) {
  .container-3-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  .container-3-columns {
    grid-template-columns: 1fr;
  }
}

/* 2 columns */
.container-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: flex-start;
  padding: 5px 5%;
}

@media (max-width:1200px) {
  .container-2-columns {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width:1100px) {
  .container-2-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  .container-2-columns {
    grid-template-columns: 1fr;
  }
}

/* 2 columns commints */
.container-2-col-commits {
  display: grid;
  grid-template-columns: .5fr 3fr;
  gap: 5px;
  align-items: flex-start;
  padding: 5px 5%;
}

@media (max-width:1200px) {
  .container-2-col-commits {
    grid-template-columns: .5fr 3fr;
    padding: 10px;
  }
}
/* for image-album in index page */
.container-3-image-album-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  padding: 5px 6%;
}

@media (max-width:1200px) {
  .container-3-image-album-columns {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width:1000px) {
  .container-3-image-album-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:991px) {
  .container-3-image-album-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  .container-3-image-album-columns {
    grid-template-columns: 1fr;
  }
}

/* adv */
/* 2 columns */
.adv-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
  padding: 5px 0%;
}

@media (max-width:1200px) {
  .adv-2-columns {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width:1100px) {
  .adv-2-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  .adv-2-columns {
    grid-template-columns: 1fr;
  }
}