
:root{
  --main-color:#ff6e61;
  --section:#f1f3f4;
  --final-sec:#11151d;
}
  /* *{
    margin: 0;
    padding: 0;
  } */

@import url("https://fonts.googleapis.com/css2?family=Changa:wght@800&family=Lalezar&display=swap");
.main-btn {
  background-color:var(--main-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: .7s;
}
nav .logo{
  max-width: 8%;
}
nav .logo-text{
  margin-right: 35px;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a{
text-decoration-line: none;
color: inherit;
}
 li{
    list-style: none;
  }


nav  li ,.links li {
  margin-right: 15px;
  
 }
 header  a , .logo-text {
font-family:"neckar-bold" !important;
 font-size: 18  px;

 }

 .links li {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
  
}
.links li .twitter:hover{
  color: rgb(233, 191, 231);
}
.links li .facebook:hover{
  color: rgb(190, 66, 184);
}
.links li .youtube:hover{
  color: rgb(199, 54, 35);
}

/* index page */
.news-ticker .s1{
  font-size: 18px;
  font-weight: bold;
  color: red;
}
.carousel-item  p{
  margin-top: 12px;
}
.fa-chevron-left , .fa-chevron-right{
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.news-ticker{
  background-color: #e9ecef ;
}

.adv-space1 , .adv-space2{
  width: 48%;
  height: 110px;
}

.local-category .time{
  color: #ebf2f3c2;
  font-size: 14px;
}
.top-right{
  position: absolute;
  top: 5%;
  right: 5%;
}

main{
  height: auto;
}


img {
  max-width: 100%;  
  height: auto;
}

p {
  text-align: center;
}

.bottom-right {
  position: absolute;
  bottom:5%;
  right: 8%;
}
.top-left {
  position: absolute;
  top:5%;
  left: 8%;
}
.two-main-news .tag ,
.sub-cat-news .tag{
  border: 1.5px solid rgba(0, 0, 0, 0.918);
  padding: 3px 15px;
  border-radius: 10px;
  background-color: #c70f0f;
  color: rgba(255, 255, 255, 0.897);
  display: inline-block;

}


/* detail-news */
.ntetwork-title .title{
  font-weight: bold;
}
.full-desc p{
  text-align: justify;
  line-height: 2;
  color: #5f6266;
}
.hash-tag span{
  border: 2px solid rgba(141, 135, 135, 0.322);
  border-radius: 50px;
  padding: 10px 35px;

}
.social-links ul .twitter  {
  background-color: rgb(233, 191, 231);
}
.social-links ul .facebook  {
  background-color: rgb(190, 66, 184);
}
.social-links ul .messanger  {
  background-color: rgb(175, 145, 192);
}
.mark-title{
  border: 1.5px solid rgba(0, 0, 0, 0.918);
  margin-left: 10px;

}
.more-news{
  font-size: 16pt;
  font-weight:500 ;
  display: inline-block;
}

/* album-image */
.img-num{
  border: 1.5px solid rgba(0, 0, 0, 0.918);
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #c70f0f;
  color: white;
  display: inline-block;

}

/* start footer */
footer{
  background-color: var(--final-sec);
}

